body {
  width: 100vw;
  /* min-width: 1000px; */
  height: 100vh;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  height: 100%;
  min-width: 1080px;
  overflow-x: auto;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
} 
::-webkit-scrollbar-track {
  background: rgba(238, 238, 238, 0.4);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: rgb(238, 238, 238);
  border-radius: 10px;
}

.full-y {
  height: 100%;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}